[submodule "ext/nanogui"]
	path = ext/nanogui
	url = https://github.com/wjakob/nanogui.git
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm.git
[submodule "ext/tinyobjloader"]
	path = ext/tinyobjloader
	url = https://github.com/achalpandeyy/tinyobjloader.git
